/CoffeeMachine.Server/.vs
/CoffeeMachine.Server/CoffeeMachine.Application/obj
/CoffeeMachine.Server/CoffeeMachine.Domain/bin
/CoffeeMachine.Server/CoffeeMachine.Domain/obj
/CoffeeMachine.Server/CoffeeMachine.Infrastructure/obj
/CoffeeMachine.Server/CoffeeMachine.Server/obj
/CoffeeMachine.Server/CoffeeMachine.Test/obj
/CoffeeMachine.Server/CoffeeMachine.Infrastructure/bin
/CoffeeMachine.Server/CoffeeMachine.Server/bin
/CoffeeMachine.Server/CoffeeMachine.Test/bin
/CoffeeMachine.Server/CoffeeMachine.Application/bin
/CoffeeMachine.Server/CoffeeMachine.Server/coffee.db
/CoffeeMachine.Server/CoffeeMachine.Server/coffee.db-shm
/CoffeeMachine.Server/CoffeeMachine.Server/coffee.db-wal
/CoffeeMachine.API/CoffeeMachine.API/bin
/CoffeeMachine.API/CoffeeMachine.API/obj
/CoffeeMachine.API/CoffeeMachine.Application/bin
/CoffeeMachine.API/CoffeeMachine.Application/obj
/CoffeeMachine.API/CoffeeMachine.Domain/obj
/CoffeeMachine.API/CoffeeMachine.Infrastructure/obj
/CoffeeMachine.API/CoffeeMachine.Test/bin
/CoffeeMachine.API/CoffeeMachine.Test/obj
/CoffeeMachine.API/CoffeeMachine.Infrastructure/bin
/CoffeeMachine.API/CoffeeMachine.Domain/bin
/CoffeeMachine.API/.vs
CoffeeMachine.API/CoffeeMachine.API/coffee.db
